.about-container {
    /* margin-left: 65px; */
    margin-left: 225px;
    margin-top: 3vh;
    width: calc(100% - 225px);
    /* width: 100vw;
    height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.contributor-container-top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.contributor-container-bottom {
    margin-top: 3vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.single-contributor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
}

.contributor-top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;

}

.contributor-profile-pic {
    width: 250px;
    height: 250px;
    clip-path: circle();
    object-fit: cover;
    /* border-radius: 20px; */
}

.contributor-info {

}

.contributor-name {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
    /* color: #004049; */
}

.contributor-links {
    display: flex;
    justify-content: space-evenly;
}

.contributor-LinkedIn {
    font-size: 20px;
    color: #004049;
    transition: all .25s ease-in-out;
    /* color: inherit; */

}

.contributor-GitHub {
    font-size: 20px;
    color: #004049;
    transition: all .25s ease-in-out;
    /* color: inherit; */
}

.contributor-LinkedIn:hover {
    color: #12ADC1;
    transform: translateY(-2px);
    

}

.contributor-GitHub:hover {
    color: #12ADC1;
    transform: translateY(-2px);
    
}