.nav-bar {
    height: 100vh;
    width: 225px;
    background-color: floralwhite;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.nav-bar-subdiv {
    height: 100%;
}

#nav-bar-subdiv-logo {
    height: 100px;
    width: 175px;
}

.nav-logo {
    height: 100%;
    width: 100%;
}
#nav-bar-subdiv-profpic {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    /* width: 10%; */
}
.nav-bar-profpic {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: 0.1px solid rgb(40,40,40);
    opacity: 0.7;
}

.nav-bar-profpic:hover {
    cursor: pointer;
    /* background-color: ; */
    transition: 0.25s ease-in-out;
    opacity: 1.0;
}

.nav-bar-huey {
    width: 100%;
    height: 100%;
}

#nav-bar-hamburger-subdiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
}

.nav-bar-hamburger {
    font-size: 50px;
}

.nav-bar-links, .nav-bar-links-spacer {
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 22px;
    opacity: 0.7;
    padding-left: 30px;
    border-left: 5px solid transparent;

}

.nav-bar-links:hover {
    cursor: pointer;
}

.nav-bar-links:active {
    border-left: 5px solid rgb(40,40,40);
    opacity: 1;
}

.nav-bar-links-container {
    background-color: transparent;
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;

}

