.event-list-item-img {
    width: 130px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: rgb(0 0 0 / 25%) 0px 2px 4px 0px;

}

.event-list-item-img > img {
    object-fit: cover;
    width: 130px;

    height: 130px;   
}

.event-list-item-container {
    display:flex;
    background-color: #FFFFFF;;
    padding: 10px;
    margin: 0 20px 20px 20px;
    border-radius: 12px;
    box-shadow: rgb(0 0 0 / 15%) 0px 2px 4px 0px;
    color: #004049;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}



.event-list-item-container:hover {
    box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px 0px
}

.event-list-item-container.active {
background-color: #c5553c;
color: #FFFFFF;
}

.event-list-item-container.active li, .event-list-item-container.active span {
    color: #FFFFFF;
}

.event-list-item-info {
    padding-left: 20px;
    width: calc( 100% - 130px)
}

.event-list-item-info li {
    padding-top: 10px;
    line-height: 22px;
    
}

.event-list-item-info li:first-of-type {
    padding-top: 0;

}

.event-list-item-title {
    font-size: 20px;
    font-weight: bold;
}

.event-list-item-info span {
    /* color: rgb(200,200,200) ; */
    display: inline-block;
    width: 70px;
    height: inherit;
    /* color: #004049; */

    color: #728F93;
    font-size: 14px;
}

.event-list-item-info div {
    display: flex;
}

.event-list-item-info ul {
    display: flex;
    flex-direction: column;
}


.event-list-item-address {
    /* color: #728F93; */
    color: #004049;
}

.event-list-item-when {
    /* color: #728F93; */
    color: #004049;
}
/* .event-list-item-when-expired{
    color: rgb(157, 3, 3);
} */
.event-list-item-description {
    /* color: #728F93; */
    color: #004049;

}

.event-list-item-attendees-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.event-list-item-attendees {

}

.attending-icon-container {
    display: flex;
    align-items: center;
}

.event-list-item-you-attending {
    padding-top: 3px;
    color: #016e7d;
    /* color: #c5553c; */
}

.attending-icon {
    color: #016e7d;
    margin-left: 5px;
    /* top: 5px; */
}