/* TODO Add site wide styles */
form > .errors {
    color: red;
    font-size: 0.875em;
    height: 15px;
    display: flex;
    align-items: center;
  }

/* .site-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 225px;
  margin-top: 20px;
} */